{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Modified Dibels{% endblock %}</title>
        <link href="{% static 'test/index.css' %}" rel="stylesheet">
        <script src="{% static 'test/index.js' %}"></script>
        <script src="{% static 'test/index2.js' %}"></script>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block script %}
        {% endblock %}
    </head>
    <body id="body">
        <div class="" id="main-container">
            <div id="main-container-layer1"></div>  
            <div id="main-container-layer2"></div>  
            <div id="main-container-layer3"></div>  

            <div class="">

                <!-- Offcanvas -->
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header ms-auto">
                        <button id="navClose" type="button" class="btn-close text-reset shadow-none"></button>
                    </div>
                    <div class="offcanvas-header mt-5 mb-5" id="logo-div">
                        <a class="" id="logo-link"><img class="img-fluid mx-auto d-block" id="logo-img" src="{% static 'test/images/logoBlackConvex.png' %}"></a>
                        <div id="logo-div-layer2"></div>
                        <div id="logo-div-layer3"></div>
                    </div>
                    <div class="offcanvas-body text-start ps-5 ms-5" hidden>
                        <div class="mb-3">
                            <a href="{% url 'mazeAdmin' %}" class=""><button id="customSubmit" class="btn"><h3>Maze</h3></button></a>
                        </div>
                        <div>
                            <a href="{% url 'imageAdmin' %}"><button id="customSubmit" class="btn"><h3>Images</h3></button></a>
                        </div>
                    </div>
                </div> 

                <!-- Test Area --->
                <div class="ms-auto" id="testArea">
                    <div class="container">
                      <div class="row my-auto">
                        <div class="col-3 my-auto mt-4 mb-4 ms-4 text-begin">
                            <button type="button" class="btn btn-success shadow-none" id="navButton">
                                <img src="{% static 'test/images/nav.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
                            </button>
                        </div>
                        <div class="col my-auto mt-4 mb-4 mx-4 text-end">
                            <button style="visibility: hidden;" id="customButton2" type="button" class="btn shadow-none">Success</button>
                            <button style="visibility: hidden;" id="customButton2" type="button" class="btn shadow-none">Danger</button>
                        </div>
                      </div>
                    </div>

                    <div class="container m-auto" id="">
                    <div class="mx-4" id="testContent">
                      {% block body %}
                      {% endblock %}
                    </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>